<div id="editor">
  <input type="file" (change)="imageChange($event)" />
  <button (click)="insertText()">Insert Text</button>
  <button (click)="tagPeople()">Tag People</button>
  <div id="insertText" *ngIf="insertingText">
    <p>Click the image to write text</p>
    <input
      #textValue
      type="text"
      (input)="textChange($event)"
      placeholder="text"
    />
    <input
      #fontSize
      type="number"
      (input)="fontSizeChange($event)"
      placeholder="fontSize"
    />
    <input #colorValue type="color" (change)="colorChange($event)" />
  </div>
  <div id="tagPeople" *ngIf="taggingPeople">
    <p>Click the image to tag someone</p>
    <input (change)="personChange($event)" />
  </div>

  <div id="container">
    <a
      target="_blank"
      *ngFor="let p of taggedPeople"
      [href]="p.profile"
      [ngStyle]="{ top: p.y, left: p.x, position: 'absolute' }"
      >{{ p.profile }}</a
    >
    <canvas (click)="getCursorPoint($event)" #myCanvas></canvas>
  </div>
</div>
