#container {
  max-width: max-content;
  max-height: max-content;
  position: relative;
  text-align: center;
  color: white;
  margin: 10px 0;
}

a {
  background-color: black;
  color: white;
  opacity: 0.5;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  position: fixed;
}

.draggableCaption {
  cursor: move;
  width: 0;
  height: 0;
  position: relative;
  z-index: 999;
}

.textBox {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 9;
  width: max-content;
}

.pointer {
  width: 0;
  height: 0;
  margin-left: 5px;
}

.handleDrag {
  position: absolute;
  top: -25px;
  color: #000;
  cursor: move;
  width: 24px;
  height: 24px;
}

form {
  margin: 10px 0;
}

.formGroup {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.formGroup * {
  margin-right: 10px;
}

.colorPicker {
  height: inherit;
}

input[type="file"] {
  display: none;
}

.fileUpload {
  border-style: solid;
  border-width: 0.0625rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  display: inline-block;
  padding: 0.6875rem 1.125rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  background-color: #00d68f;
  border-color: #00d68f;
  color: #fff;
}

#initialButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#initialButtons * {
  margin-right: 10px;
}

#filtersForm {
  margin-top: 10px;
  margin-left: 15px;
}

#filtersForm > * {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: fit-content;
}

#imageHandler {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#resetFilters {
  margin: 10px auto;
}

#crop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#croppedImage {
  height: min-content;
  width: min-content;
  margin: auto;
}

#croppedImage > * {
  padding-top: 10px;
}

#cropDone {
  margin: 10px;
}

h4 {
  font-family: fantasy;
  margin: auto;
}

p {
  margin: 10px 0;
}

.deleteButton {
  height: fit-content;
  margin-top: auto;
}

image-cropper {
  width: fit-content;
  height: fit-content;
}

#cropSet {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

nb-icon {
  font-size: 2.3rem;
  margin: auto 15px;
}

#captionsForm {
  width: fit-content;
  margin: auto;
}

.divider {
  border-top: 2px solid #000000;
}
