#editor {
  margin-left: 20px;
}

#container {
  max-width: max-content;
  max-height: max-content;
  position: relative;
  text-align: center;
  color: white;
  margin: 10px 0;
}

a {
  background-color: black;
  color: white;
  opacity: 0.5;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  position: relative;
}

.draggableBox {
  cursor: move;
  width: 0;
  height: 0;
}

.textBox {
  padding: 20px;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 9;
  width: max-content;
}

.pointer {
  width: 0;
  height: 0;
  margin-left: 5px;
}

.handleDrag {
  position: absolute;
  top: -30px;
  color: #000;
  cursor: move;
  width: 24px;
  height: 24px;
}

form {
  margin: 10px 0;
}
