#insertText {
  margin: 20px 0;
}

#editor {
  margin-left: 20px;
}

#container {
  width: fit-content;
  position: relative;
  text-align: center;
  color: white;
}

a {
  background-color: black;
  color: white;
  opacity: 0.5;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
}
